.body{
  margin: 0;
  padding: 0;
}

header{
  width: 100%;
  height: 150px;
  background-color: #ccc;
}

.inbox{
  margin: 0 auto;
  width: 1274px;
  height: 150px;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 143px;
  height: 40px;
}

.nav{
  width: 830px;
  height: 150px;
  background-color: aqua;
  font-size: 18px;
}

.nav > ul{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav > ul > li{
  padding: 0 37px;
}

.nav > ul > div{
  padding: 0 0 0 37px;
  width: 111px;
  height: 38px;
  background-color: orange;
}

